<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body style="height: 10000px;"">
    <nav class="navbar navbar-expand-md navbar-light bg-white py-5">
      <div class="container-md">
        <button class="navbar-toggler p-0 border-0" style="height: 24px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <img src="./assets/images/dehaze-24px.png" class="align-top" alt="">
        </button>
        <a href="index.html" class="d-md-none" style="width:115px;">
          <img src="./assets/images/dora/logotype-sm-dark.svg" class="" alt="">
        </a>
        <a class="navbar-brand py-0 me-0" style="height:24px;" href="#">
          <img src="./assets/images/shopping_cart.png" class="align-top" alt="">
        </a>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>