.login{
    @include media-breakpoint-down(md){
        margin-bottom: -30px;
    }
    &__title{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    &__member{
        & h2{
            font-size: 36px;
            color: white;
            text-align: center;
        }
    }
    &__member--sm{
        order: -2;
    }
    &__socialMedia{
        padding: 40px 30px;
        @include media-breakpoint-down(md){
            order: -1;
        }
        & h3{
            margin-bottom: 36px;
        }
    }
    &__icon{
        position: relative;
        width: 64px;
        background: white;
        & img{
            position: absolute;
            top: 16px;
            right: 0;
            left: 20px;
        }
        
    }
    &__input{
        flex-grow: 1;
        height: 56px;
        &:focus-visible {
            outline: none;
        }
    }
    &__submit{
        @include media-breakpoint-up(md){
            margin: 0 -12px;
        }
    }
}

.cart{
    &__title{
        color: $primary;
        margin-bottom: 0;
        @include media-breakpoint-up(md){
            color: $white;
            margin-bottom: 13px;
        }
    }
    &__img{
        flex-grow: 1;
        object-fit: cover;
        max-width: 157px;
        height: 106px;
        margin-bottom: 8.5px;
        @include media-breakpoint-up(md){
            max-width: 110px;
            height: 110px;
            margin-bottom: 0;
        }
    }
    &__item{
        padding-top: 30.5px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        @include media-breakpoint-up(md){
            border-bottom: 1px solid $dark;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            padding-right: 0;
        }
        &__info{
            margin-bottom: 8.5px;
            margin-left: 16px;
            gap: 39px;
            @include media-breakpoint-up(md){
                margin-left: 0;
                margin-bottom: 0;
            }
        }
        &__total{
            width: 100%;
            text-align: right;
            @include media-breakpoint-down(md){
                border:1px solid $dark;
                border-left: 0px;
                border-right: 0px;
                padding-top: 8.5px;
                padding-bottom: 8.5px;
            }
            @include media-breakpoint-up(md){
                width: auto;
            }
        }
    }
    &__summary{
        margin-bottom: -30px;
        @include media-breakpoint-up(md){
            margin-bottom: 0;
        }
        &__title{
            background: $dark;
            margin-top: 31.5px;
            color: $primary;
            @include media-breakpoint-up(md){
                background: $primary;
                color: white;
                margin-top: 0;
                &::after{
                    content: '';
                    display: block;
                    width: calc(100% - 40px);
                    height: 1px;
                    margin: 0 auto;
                    background: $dark;
                    margin-top: 16px;
                }
            }
        }
        &__totalbar{
            padding-right: 30px;
            padding-left: 30px;
            background: white;
            color: $primary;
            @include media-breakpoint-up(md){
                padding-right: 20px;
                padding-left: 20px;
                background: $primary;
                color: white;
            }
        }
    }
}

.checkout{
    margin-bottom: -30px;
    &__main{
        padding: 30px 40px;
    }
    &__title{
        font-size: 36px;
    }
    &__img{
        height: 16.45px;
        @include media-breakpoint-up(lg){
            height: 20px;
        }
    }
    
    &__side{
        margin-bottom: 20px;
    }
    &__summary{
        padding: 16px 20px;
    }
    &__list{
        padding: 16px 20px;
        &__img{
            object-fit: cover;
            @include media-breakpoint-up(md){
                width: 120px;
                height: 80px;
            }
        }
        &__info{
            flex-shrink: 0;
            margin-left: 20px;
        }
    }
    &__invoiceChoose{
        cursor: pointer;
        background: $primary;
        color: $dark;
        &:hover{
            color: $dark;
        }
    }
    &__success{
        height: 460px;
        background: url(../../../assets/images/dora/payment_success.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &__btn{
            width: 300px;
        }
        &__title{
            @include media-breakpoint-up(md){
                margin-bottom: 51px;
            }
        }
        &__mb{
            @include media-breakpoint-down(md){
                margin-bottom: -30px;
            }
        }
    }
}

.input{
    font-weight: 300;
    background: $dark;
    border: 0px;
    width: 100%;
    height: 56px;
    // 
    outline: 0;
    text-indent: 20px;
    padding: 16px 20px 16px 0;
    &::placeholder{
        color: $secondary;
    }
    &--withIcon{
        text-indent: 76px;
    }
    &__iconBlock--end{
        background: $dark;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
    }
}

.product{
    @include media-breakpoint-up(md){
        --bs-gutter-x: 20px;
    }
    &__list{
        gap: 20px;
        @include media-breakpoint-down(md){
            margin-top: 30px;
        }
        & .card{
            width: 100%;
            @include media-breakpoint-up(lg){
                max-width: 300px;
            }
        }
    }
    &__item{
        &:hover{
            background: $dark;
        }
    }
    &__bannerImg{
        object-fit: cover;
        @include media-breakpoint-up(md){
            margin-bottom: 60px;
        }
        @include media-breakpoint-down(md){
            height: 277px;
            object-position: right;
        }
    }
    &__pagination{
        & li>a{
            display: block;
            width: 60px;
            height: 60px;
            &:hover{
                background: $primary;
                color:white;  
            }
        }
        &--active{
            background: $primary;
            color:white;
        }
    }
}

.active{
    background-color: $dark;
    color: $primary;
    &:hover{
        color: $primary;
    }
}

.select{
    color: $secondary;
    background-image: url(../../../../assets/images/dora/sort-solid.svg);
    background-size: 24px 24px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    appearance: none;
}

.checkbox{
    width: 16px;
    height: 16px;
    accent-color: $success;
}

.writing-m-vl{
    writing-mode: vertical-lr;
}

.gap-1px{
    gap: 1px;
}

.object-cover{
    object-fit: cover;
}

.h-180px{
    height: 180px;
}

.md-h-256px{
    @media (min-width:767px) {
        height: 256px;
    }
}

.text-decoration-none{
    text-decoration: none;
}

.flex-grow-1{
    flex-grow: 1;
}

.addToCart{
    background: $dark;
    &:hover{
        color: white;
        background: $primary;
    }
}

.fw-semibold{
    font-weight: 600;
}

.font-Times{
    font-family: 'Times','sans-serif';
}

.font-Helvetica{
    font-family: 'Helvetica Neue','sans-serif';
}

.flex-shrink-0{
    flex-shrink: 0;
}

.navbar-collapse{
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
}
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    @include media-breakpoint-up(md){
        position: relative;
    }
}