.max-w-339px{
    max-width: 339px;
}

.max-w-315px{
    max-width: 315px;
}

.writing-m-vl{
    writing-mode: vertical-lr;
}

.gap-1px{
    gap: 1px;
}

.object-cover{
    object-fit: cover;
}

.h-180px{
    height: 180px;
}

.md-h-256px{
    @media (min-width:767px) {
        height: 256px;
    }
}

.text-decoration-none{
    text-decoration: none;
}

.flex-grow-1{
    flex-grow: 1;
}

.addToCart{
    background: $dark;
    &:hover{
        color: white;
        background: $primary;
    }
}